*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    color: white;
    font-family: 'Lato', sans-serif;;
}

i{
    font-size: 2em;
}

p {
    padding-top: 5px;
    font-size: .9em;
    font-weight: 300;
}

span i, button i{
    font-size: 1em;
}

.options{
    height: 5vh;
    width: 100%;
    /* padding-bottom: 1rem; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.table-cell, .expand{  
    background-color: gray;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    margin-right: .5rem;
    color: white;
}

.main-container{
    height: 85vh;
    padding: 0px 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

.user-img{
    height: 130px;
    width: 225px;
    background-color: yellowgreen;
    margin: .5rem 0;
    position: relative;
}

.user-name{
    padding: .25rem .5rem;
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-nav{
    height: 10vh;
    width: 100%;
    background-color: #222222;
    /* border-top: 1rem solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-settings, .call-options{
    display: flex;
    align-items: center;
}

.icon-flex{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider{
    font-size: 1.2em;
}

.green{
    color: green;
}

.end-call{
    height: 100%;
    color: red;
    background-color:#4A4A4A;
    line-height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;

}